*{
    margin: 0;
    padding: 0;
    background-color: black;
}
@font-face {
    font-family: dm-sans-serif;
    src: url(DM_Serif_Text/DMSerifText-Regular.ttf);
}
header{
    font-family: dm-sans-serif;
    padding: 3em;
    color: white;
}
h1{
    font-family: dm-sans-serif;
    color: #A8D4E0;
}
#navegador{
    display: flex;
    justify-content: space-around;
    margin: 1em;
    padding: .3em;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
#gorro{
    width: 30%;
}
#certificado{
    width: 30%;
}

